#navbar {

  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: #ffca1a solid 5px;
  flex-flow: wrap-reverse;
  img {
    width: 75px;
    transition: transform .7s ease-in-out;
  }
  img:hover {
    transform: rotate(360deg);
  }

  a {
    font-family: Arial;
    font-weight: 600;
    font-size:25px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
}

.nav-cellule {
  margin-right: auto;
}

.nav-cellule a:hover{
  transform: scale(1.1);
}

form {
  padding: 50px;
  background-color: #333333;
  align-content: center;
  max-width: 500px;
  margin: auto;
  a{
    margin-left: 5px;
    font-weight: bolder;
  }
  input {
    border: none;
    margin: 3px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #222222;
    color: white;
  }
  .yellow-btn {
    font-weight: bolder;
    background-color: #ffca1a;
  }
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #333333 ;
  border-radius: 0 0 10% 10%;
}

.corps {
  opacity: 1;
  min-height: 67vh;
  border-top : 1px solid #ffca1a;
  border-bottom: 1px solid #ffca1a;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1vmax;
  color: white;
  margin: 5%;
  background-color: #222;
  padding: 20px;
  h1, h5 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      font-weight: 800;
      border-bottom: #ffca1a solid 1px;
      tr, th {
        background-color: #222222;
        padding: auto;
      }
    }
    tr:nth-child(even) {
      background-color: #222222;
    }

    tr, th {
      background-color: #333333;
      padding: auto;
    }
  }
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}


footer {
  text-align: center;
}

